/* ================= SCREEN MOBILE =================== */

@media only screen and (max-width: 480px) and (min-width: 0px) {
	* {}
.button-arrow {
    -webkit-animation: arrow 2.5s infinite;
    animation: arrow 6.5s infinite;
    position: relative;
    display: block;
    left: 26px;
    right: 0;
    width: 60px;
}

	
.logo-gianty-mobile {
	padding-left: 10px;
	padding-bottom: 20px;
}
.partner-section .owl-dots {
    position: relative;
    top: -50px;
}
	
.base-form-contact {
    background: #fff;
    height: 550px;
    border-radius: 300px 300px 0px 0px;
}

	
.base-form-contact h3 {
    padding-top: 72px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin: auto;
    text-transform: capitalize;
}
.location {
    margin-bottom: 20px;
    margin-top: 36px;
}
	
.icon-social {
    margin-top: 30px;
    margin-left: 0px;
}


	
.coppy {
   display:none;
}
	
.info-footer {
	display:none;
}
.footer-left {
    padding-left: 0px;
}
	
.footer {
    background-color: #000000;
    padding: 80px 0px;
    padding-bottom: 0px;
    background-image: none !important;
}

	
.base-shape-cta {
	display:none;
}
.cta-section {
    background: #ccc;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    min-height: 370px;
}
	
.text-cta h1 {
    margin: auto;
    font-size: 36px;
    font-weight: 700;
    width: 100%;
    text-transform: capitalize;
    color: #f5154d;
}
.services-section {
    background: #ffffff;
    padding: 20px 0px;
}
	
.group-card-services {
    margin-top: 0px;
}
.card-services span i {
    font-weight: bold;
    font-size: 14px;
    line-height: 36px;
    width: 36px;
    height: 36px;
    text-align: center;
    border: 1px solid #000;
    background: #0000;
    border-radius: 80%;
    transition: all 0.4s;
}

	
.card-services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cdcdcd;
    width: 345px;
    margin-bottom: 26px;
    padding-bottom: 24px;
    transition: all 0.4s;
}
.card-services h3 {
    font-weight: bold;
    width: 245px;
    font-size: 18px;
    line-height: 26px;
    transition: all 0.4s;
}
	
.heading-case-studies {
    font-size: 36px;
    font-weight: 700;
    color: #F10B6C;
    margin-bottom: 30px;
}
.case-studies-section {
    background: #000;
    padding: 60px 0px;
}
	
.bottom-content-case-studies {
    margin-top: 48px;
}
.bottom-content-case-studies p {
	display:none;
}

	
#images-case-studies {
    margin-top: 32px;
}
.group-card-number {
    position: relative;
    z-index: 1;
    padding-top: 80px;
}

	
.card-number {
	margin-bottom: 24px;
}
.card-number span {
	font-size: 36px;
}
	
.card-number h1 {
	font-size: 48px;
}
.card-number p {
    font-size: 18px;
    font-weight: 300;
}

	
.group-content-about-us {
	height: 500px;
}

	
	
#char-mobile {
  display: block;
  position: relative;
  top: 200px;
}


#news .owl-dots {
    display: block;
    margin-top: 16px;
}
.shape-hero-one {
    position: absolute;
    z-index: 9;
    right: 20px;
    top: 170px;
}

.shape-hero-two {
    position: absolute;
    bottom: 50px;
    left: 40px;
}
	
.content-case-studies h1:nth-child(1) {
  padding: 0px 0px;
  margin-top: 60px;
  margin-left: 5px;
  text-transform: uppercase;
  letter-spacing: 0px;
  opacity: 0.2;
  transition:all 0.4s;
  font-size: 48px;
}
.content-case-studies h1:nth-child(2) {
  padding: 14px 0px;
  margin-left: 10px;
  letter-spacing: 0px;
  opacity: 0.6;
  transition:all 0.4s;
  font-size: 48px
}


.content-case-studies h1:nth-child(3) 
{
  letter-spacing: 10px;
  margin-left: 10px;
   transition:all 0.4s;
	    font-size: 48px
}

	
.client-section {
    background: #F9F9F9;
    height: 630px;
    padding: 80px 0px;
    padding-bottom: 0px;
}

	
#client {
	transform: scale(0.5);
	margin-top: -20px;
	position: relative;
}
#client-two {
    transform: scale(0.5);
    position: relative;
    top: -180px;
    left: 4px;
}
	
.gallery-products {
    margin-top: 100px;
    transform: scale(1.5);
}
.client-section .nav-pills .nav-link {
	font-size: 24px;
	padding: 0px 11px;
}

	
.heading h1 {
    font-size: 36px;
}
	
.content-growth-centric {
	margin-top: 0px;
}
.char-designers {
	top: 36px;
	font-size: 36px;
}
.char-engineers {
    top: 96px;
    font-size: 36px;
}

	
.growth-centric-tabs {
	margin-left: 0px;
}
	
.growth-centric {
	font-size:30px;
	margin-left: 0px;
}


	
.char-all-about-us {
	display: none;
}
.text-intro h1 {
    font-size: 36px;
    font-weight: bold;
    padding: 6px 14px;
}

	
.text-intro {
    margin-top: 40px;
}
.text-intro-about-us {
    font-size: 18px;
    line-height: 26px;
    width: 240px;
    margin-top: 14px;
}

	
.news-section {
    padding: 36px 0px;
    padding-bottom: 10px;
    background: #cdfb17;
    padding-top: 30px;
}
h3.heading-news {
    border-right: 2px solid #0000;
    line-height: 30px;
    padding-left: 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 10px;
}

	
.languages {
	display: none !important;
}
.title-hero span {
	display: block !important;
}

h1.creative-hero

{
	font-size: 64px;
	margin-left: 24px;
}

h5.text-hero {
    margin-left: 10px;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 15px;
    font-size: 18px;
}
.hero-text-bellow {
	/* display:none; */
	width: 200px;
	float: right;
}

	
h1.development-hero {
    line-height: 50px;
    font-size: 48px;
    margin-top: 0px;
    color: #2f3662;
    margin-left: 6px;
}
	
	
	span.group-icon-social.float-right {
    float: none !important;
    margin-top: 24px;
    display: block;
}
	.our-team-section {
		padding: 6.25rem 0rem;
	}
	.images-page-about {
		display: none;
	}
	.about-page-section {
		min-height: 850px;
	}
	.logo-partner {
		padding: 6.25rem 1rem;
	}
	.card-latest-news {
		margin-bottom: 2rem;
	}
	.our-blog-section {
		padding: 6.25rem 1rem;
	}
	.portfolio {
		padding: 6.25rem 1rem;
	}
	.images-intro {
		margin-top: 3rem;
	}
	.intro-section {
		padding: 3.75rem 0rem;
	}
	.cta-use-bg {
		min-height: 900px;
	}
	
	.logo-brand {
		display: block;
		width: 100%;
	}
	.logo-brand a {
		display: inline-block;
		float: right;
		position: relative;
		top: -6px;
	}
	.block-navigation {
		display: none;
	}
	.header-fixed .menu-mobile {
		color: #000;
	}
	.menu-mobile {
		display: inline-block;
		position: absolute;
		top: 16px;
		line-height: 34px;
		font-size: 18px;
		color: #000;
		width: 36px;
		height: 36px;
		text-align: center;
		border: 2px solid #000;
		border-radius: 4px;
	}
	.block-menu-mobile {
		position: fixed;
		overflow-y: auto;
		z-index: 9999999;
		padding-top: 30px;
		top: 0;
		display: block!important;
		width: 300px;
		height: 100%;
		background: #fff;
		transition: all 0.4s;
		transform: translateX(-500px);
	}
	.block-menu-mobile.show1 {
		transform: translateX(0px);
	}
	.block-menu-mobile .card-body {
		padding: 0;
		padding-left: 0px;
		background: #f8f9fa;
	}
	.block-menu-mobile .card-body a {
		font-weight: 500;
	}
	.block-menu-mobile .card-body ul {
		padding: 8px;
		margin: 0px;
	}
	.block-menu-mobile .dropdown-header {
		padding-left: 16px;
		background: #f8f9fa;
	}
	.overlay-black {
		background: #00000057;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 999999;
		top: 0;
		visibility: hidden;
		opacity: 0;
		transition: all 0.4s;
	}
	.overlay-black .close-mobile {
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		display: inline-block !important;
		margin-top: 8px;
		margin-right: 8px;
		font-size: 18px;
		background: #fff;
	}
	.overlay-black.show2 {
		visibility: visible;
		opacity: 1;
	}
	.block-menu-mobile .card {
		border-radius: 0px;
		border: none;
		border-top: 1px solid #f8f9fa !important;
		background: #fff;
	}
	.block-menu-mobile h3 {
		font-size: 18px;
		font-weight: 500;
		display: block;
		margin-top: 16px;
		margin-bottom: 10px;
		padding-left: 14px;
	}
	.block-menu-mobile .card-header {
		padding: 8px 10px;
		padding-right: 4px;
		background: #fff;
		border-bottom: 1px solid #0000000a;
	}
	.block-menu-mobile .card-header a {
		color: #495057;
		font-weight: 300;
		line-height: 30px;
		text-decoration: none;
	}
	.block-menu-mobile .card-header i {
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
	}
}


@media only screen and (min-width: 820px) and (max-width: 1180px) {
	* {}
.cta-section {
    background: #ccc;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    min-height: 300px;
    position: relative;
    display: flex;
}

	
.base-shape-cta {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 24px;
    display: none;
}

	
.text-cta h1 {
    width: 100%;
    font-size: 36px;
}

	
.icon-social {
    margin-top: 160px;
    margin-left: 90px;
}
	
.footer-left {
    padding-left: 0px;
}
.footer {
    background-color: #000000;
    padding: 100px 0px;
    padding-bottom: 0px;
    background-image: none !important;
}

	
#images-case-studies {
    margin-top: 60px;
    margin-bottom: 72px;
}

	
.card-number {
	margin-bottom: 30px;
}
	

	
.content-growth-centric {
    margin-top: 0px;
}
	
.char-engineers {
    position: absolute;
    top: 100px;
}
.char-designers {
    position: absolute;
    top: 20px;
}
	
.group-content-about-us {height: 480px;}
.text-intro-about-us {
    font-size: 24px;
    line-height: 34px;
    width: 500px;
    margin-bottom: 20px;
}
	
#char-mobile {
    display: block;
    top: 200px;
}
	
.char-all-about-us {
	display:none;
}
	
	.news-section {
    padding: 12px 0px;
    padding-bottom: 10px;
    background: #cdfb17;
}
h3.heading-news {
    border-right: 2px solid #000;
    line-height: 40px;
    padding-left: 0px;
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

	

.hero-text-bellow {
    /* display: none; */
    width: 200px;
    float: right;
}

	
h1.development-hero {
    line-height: 130px;
    font-size: 106px;
    background-image: linear-gradient(to top, #190095, #1c00ff,#2c09ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

	
.button-arrow {
    -webkit-animation: arrow 2.5s infinite;
    animation: arrow 6.5s infinite;
    position: relative;
    display: block;
    left: 48px;
}
	
	.menu-mobile {
	    display: inline-block;
	    position: absolute;
	    top: 16px;
	    line-height: 34px;
	    font-size: 18px;
	    color: #000;
	    width: 36px;
	    height: 36px;
	    text-align: center;
	    border: 2px solid #000;
	    border-radius: 4px;
	}
	.logo-brand a {
	    display: block;
	    padding-top: 10px;
		padding-bottom:10px;
	}
		
	.logo-brand a {
	    display: inline-block;
	    float: right;
	}
	.block-navigation {
	    display: none;
	}
	
	.languages {
		display: none !important;
	}
	
	.block-menu-mobile {
		position: fixed;
		overflow-y: auto;
		z-index: 9999999;
		top: 0;
		display: block!important;
		width: 300px;
		height: 100%;
		background: #fff;
		transition: all 0.4s;
		transform: translateX(-500px);
	}
	.block-menu-mobile.show1 {
		transform: translateX(0px);
	}
	.block-menu-mobile .card-body {
		padding: 0;
		padding-left: 0px;
		background: #f8f9fa;
	}
	.block-menu-mobile .card-body a {
		font-weight: 500;
	}
	.block-menu-mobile .card-body ul {
		padding: 8px;
		margin: 0px;
	}
	.block-menu-mobile .dropdown-header {
		padding-left: 16px;
		background: #f8f9fa;
	}
	.overlay-black {
		background: #00000057;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 999999;
		top: 0;
		visibility: hidden;
		opacity: 0;
		transition: all 0.4s;
	}
	.overlay-black .close-mobile {
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		display: inline-block !important;
		margin-top: 8px;
		margin-right: 8px;
		font-size: 18px;
		background: #fff;
	}
	.overlay-black.show2 {
		visibility: visible;
		opacity: 1;
	}
	.block-menu-mobile .card {
		border-radius: 0px;
		border: none;
		border-top: 1px solid #f8f9fa !important;
		background: #fff;
	}
	.block-menu-mobile h3 {
		font-size: 18px;
		font-weight: 500;
		display: block;
		margin-top: 16px;
		margin-bottom: 10px;
		padding-left: 14px;
	}
	.block-menu-mobile .card-header {
		padding: 8px 10px;
		padding-right: 4px;
		background: #fff;
	}
	.block-menu-mobile .card-header a {
		color: #495057;
		font-weight: 300;
		line-height: 30px;
	}
	.block-menu-mobile .card-header i {
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
	}	

	

}


/* ================= SCREEN TABLET =================== */

@media only screen and (min-width: 480px) and (max-width: 768px) {
	* {}
.group-form-input {
    padding: 0px 48px;
}

	
	.base-form-contact {
    background: #fff;
    height: 600px;
    border-radius: 350px 350px 0px 0px;
}
.icon-social {
    margin-top: 160px;
    margin-left: 90px;
}
	
.footer-left {
    padding-left: 0px;
}
.footer {
    background-color: #000000;
    padding: 100px 0px;
    padding-bottom: 0px;
    background-image: none !important;
}

	
.services-section {
    background: #ffffff;
    padding: 0px 0px;
    padding-top: 0px;
}

	
.base-shape-cta {
	display:none;
}

	
.cta-section {
    background: #ccc;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    min-height: 400px;
    position: relative;
    display: flex;
}

	
.text-cta h1 {
	width: 100%;
	font-size: 36px;
}

	
#images-case-studies {
    margin-top: 60px;
    margin-bottom: 72px;
}
	
.group-card-number {
    position: relative;
    z-index: 1;
    padding-top: 72px;
}
.card-number {
	margin-bottom: 30px;
}
	
.client-section {
    background: #F9F9F9;
    height: 680px;
    padding: 60px 0px;
    padding-bottom: 0px;
}
	
.content-growth-centric {
    margin-top: 0px;
    background: #000f5829;
    padding: 20px;
    border-bottom: 2px solid #00FFF0;
    border-left: 2px solid #4200FF;
    border-right: 2px solid #ff0094;
}

	
.group-content-about-us {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
}
#char-mobile {
	display: block;
	position: relative;
	top: 219px;
}
	
.char-all-about-us {
	display:none;
}

	
.logo-brand a {
    display: block;
    padding-top: 20px;
    padding-bottom: 18px;
}
	
.news-section {
    padding: 36px 0px;
    padding-bottom: 10px;
    background: #cdfb17;
    padding-top: 0;
}
h3.heading-news {
    border-right: 2px solid #000;
    line-height: 48px;
    padding-left: 0px;
    padding-top: 20px;
}
	

	
.hero-text-bellow {
	position: absolute;
	right: 140px;
	bottom: 235px;
	width: 235px;
}
	
.bellow-hero {
    left: 136px;
}
.shape-hero-two {bottom: 245px;}
	
h1.creative-hero {
    line-height: 114px;
    font-size: 72px;
}

	
h1.development-hero {
    line-height: 90px;
    font-size: 96px;
    text-align: center;
}

	
.menu-mobile {
    display: inline-block;
    position: absolute;
    top: 24px;
    line-height: 34px;
    font-size: 18px;
    color: #000;
    width: 36px;
    height: 36px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 4px;
}
.languages {
    height: 32px;
    border-radius: 4px;
    margin-top: 14px;
    margin-left: 34px;
    padding-bottom: 3px;
    transition: all 0.4s ease;
    display: none !important;
}
	
	
	.char-designers {
    position: absolute;
    top: 36px;
 }
	.char-engineers {
    position: absolute;
    top: 110px;
 }
	

	.logo-brand {
		display: block;
		width: 100%;
	}
	.logo-brand a {
		display: inline-block;
		float: right;
	}
	.block-navigation {
		display: none;
	}
	
	.block-menu-mobile {
		position: fixed;
		overflow-y: auto;
		z-index: 9999999;
		top: 0;
		display: block!important;
		width: 300px;
		height: 100%;
		padding-top: 30px;
		background: #fff;
		transition: all 0.4s;
		transform: translateX(-500px);
	}
	.block-menu-mobile.show1 {
		transform: translateX(0px);
	}
	.block-menu-mobile .card-body {
		padding: 0;
		padding-left: 0px;
		background: #f8f9fa;
	}
	.block-menu-mobile .card-body a {
		font-weight: 500;
	}
	.block-menu-mobile .card-body ul {
		padding: 8px;
		margin: 0px;
	}
	.block-menu-mobile .dropdown-header {
		padding-left: 16px;
		background: #f8f9fa;
	}
	.overlay-black {
		background: #00000057;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 999999;
		top: 0;
		visibility: hidden;
		opacity: 0;
		transition: all 0.4s;
	}
	.overlay-black .close-mobile {
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		display: inline-block !important;
		margin-top: 8px;
		margin-right: 8px;
		font-size: 18px;
		background: #fff;
	}
	.overlay-black.show2 {
		visibility: visible;
		opacity: 1;
	}

.logo-gianty-mobile {
    padding-left: 10px;
    padding-bottom: 20px;
}
	
.block-menu-mobile .card {
    border-radius: 0px;
    border: none;
    border-top: 1px solid #f8f9fa !important;
    background: #fff;
}
	.block-menu-mobile h3 {
		font-size: 18px;
		font-weight: 500;
		display: block;
		margin-top: 16px;
		margin-bottom: 10px;
		padding-left: 14px;
	}
	.block-menu-mobile .card-header {
    padding: 8px 10px;
    padding-right: 4px;
    background: #fff;
    border-bottom: 1px solid #0000000a;
}
	.block-menu-mobile .card-header a {
    color: #495057;
    font-weight: 300;
    line-height: 30px;
    text-decoration: none;
}
	.block-menu-mobile .card-header i {
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
	}
}